.completed {
  text-decoration: line-through;
}
.btn_hide {
  display: none;
}
.container {
  width: 400px;
  height: 650px;
  margin: 50px auto;
}
.head {
  height: 83px;
}
.title {
  height: 40;
  text-align: center;
  background: rgb(150, 150, 150);
  font-size: 30px;
}
.input {
  height: 43px;
  text-align: center;
  background: rgb(200, 200, 200);
}
.input input {
  margin-top: 5px;
  width: 90%;
  font-size: 24px;
}
.list {
  height: 400px;
  background: #DCDCDC;
  overflow-y: scroll;
}
.footer {
  height: 80px;
  background: rgb(150, 150, 150);
}
.left_items {
  margin-bottom: 10px;
}
.count {
  margin-left: 10px;
  margin-right: 170px;
  display: inline-block;
}
.state_button {
  text-align: center;
}
.state_button input {
  width: 100px;
  margin: 10px;
}
.delete_btn {
  float: right;
  display: none;
}
li:hover .delete_btn {
  display: inline-block;
}
li {
  height: 22px;
}
li:hover {
  background: #FFFFFF;
}